@import '/src/sass/typography';

.introduction{
    // background-color: red;
    // margin-bottom: 0;
    // height: 80vh;
    // transform: translateY(-30%);
    // clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    // padding-top: 30rem;
    &-heading{
        text-align: center;
 }
 &-brief{
    margin-top: 1rem;
    transform: translateX(50%);
    text-align: center;
    font-family: 'Roboto Slab', serif;
font-size: 1.6rem;
width: 50%;
font-weight: 500;
margin-bottom: 7rem;
 }
 &-content{
    display: flex;
justify-content: center;
gap: 4rem;
flex-wrap: wrap;
 }

}
