// color variables//
$primary-color:#FF57B9;
$secondary-color:#ff57b9;
$color-white:white;
$card-color-1:#7117ea;
$card-color-2:#ea6060;
$heading-color:rgb(66, 66, 66);
$icon-color:rgba(15, 82, 252, 0.862);
$color-white:white;
$color-grey:rgb(223, 223, 223);
$color-grey-light:rgba(128, 128, 128, 0.905);
$color-black:black;
$color-invalid:rgba(255, 0, 0, 0.785);
$footer-color:rgba(39,39,39);
$test-color:rgb(5, 20, 179);

// font family variables //
$font-family-primary:'Roboto Slab', serif;

