@import '../../sass/variables';
@import '../../sass/animation';
@import '../../sass/mixins';
@import '../../sass/typography';
@import '../../sass/component/button';
@import '../../sass/component/form';
@import '../../sass/component/spacing';




.donation-container{
    padding-left: 3rem;
    padding-right: 3rem;

    width: 80%;
    background-image:linear-gradient(105deg, rgba($color-white, 0.9) 0%,rgba($color-white, 0.9) 55%, transparent 55%) ,url(../../assets/cover.jpg);
background-size: cover;
border-radius: 3px;
// box-shadow: 0 1.5rem 4rem rgba(#000000, 1.5);
transform: translateX(12.5%);
// transform: translateY(-30%);
@include respond(tab-land){
    background-image:linear-gradient(105deg, rgba($color-white, 0.9) 0%,rgba($color-white, 0.9) 60%, transparent 60%) ,url(../../assets/cover.jpg);
}
@include respond(tab-port){
    background-image:linear-gradient(105deg, rgba($color-white, 0.9) 0%,rgba($color-white, 0.9) 100%,) ,url(../../assets/cover.jpg);
    padding: 0;

}
@include respond (phone){
    width: 100%;
    transform: translateX(0%);

}



&__form{
    padding: 3rem 5rem;
    width: 50%;
    // background-color: red;
    // height: 100%;
    @include respond(tab-land){
        width: 60%;
      
        
    }
    @include respond(tab-port){
        width: 100%;

    }

    &__heading{
        text-align: center;
        margin-bottom: 1rem;
    }
    &__radio-btn{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        @include respond(phone){
            gap: 0rem;

        }
        
        

    }
    &__submission{
font-size: 2rem;       
color: $secondary-color;
    }
}


}
.form__button__container{
    text-align: center;
    margin-top: 3rem;
    // width: 100%;

}

