@import "../../../sass/variables";
@import "../../../sass/component/button";

.card_btn{
height: 5rem;
width: 18rem;
border-radius: 3rem;
background-color:$color-white ;
border-width: 0.1rem;
border-color: $primary-color;
font-size: 1.5rem;
text-transform: uppercase;
font-weight: 600;
font-family: $font-family-primary;
color: $primary-color;
letter-spacing: 0.8px;
border-style: double;
cursor: pointer;
}