@import '../../../sass/variables';
@import '../../../sass/typography';
@import '../../../sass/animation';
@import '../../../sass/mixins';
@import '../../button/card_button/card_button.scss';


.donation_card{
    background-color:$color-white ;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 60rem;
    width: 40rem;
    border-radius: 1rem;
    // transform: translateY(45%);
    @include respond (phone){
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        height: 100rem;

    }


    &:hover{
        .donation_card-heading{
    color: $primary-color;
        } 
        .card_btn{
            background-color: $primary-color;
            color: $color-white;
        }
      
    }
    &-image{
        height: 35%;
        // background-image: url(../../../assets/card.jpg);
        background-size: cover;
        @include respond (phone){
            height: 50%;
            margin-bottom: 10rem;
        }
        

    }
    &-heading{
        text-align: center;
        margin-top: 4rem;
        font-size: 2rem;
        color: $heading-color;
    }
    &-info{
        padding: 0px 2rem;
        margin-top: 3rem;
        text-align: center;
        font-size: 1.4rem;
    }
    &-progress_container{
        border-radius: 1rem;
        height: 1rem;
        background-color:$color-grey;
        overflow: hidden;
     margin: 0rem 1rem;
     margin-top: 3rem;
&-bar{
height: 100%;
background-color: $primary-color;

}
   }
    &-status{
        margin-top: 2rem;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}
