@import '/src/sass/mixins';

//Universal selector//
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit ;
}
//font set for 1 rem//
html{
  font-size: 62.5%;  // 1rem = 10px  10/16=62.5%
  @include respond (tab-land){
    font-size: 56.25%;
  }
  @include respond (tab-port){
    font-size: 50%;
  }
  // @include respond (small-tab){
  //   font-size: 40%;
  // }

  // @include respond (phone){
  //   font-size: 30%;
  // }
  @include respond (big-desktop){
    font-size: 75%;
  }


}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  // padding-bottom: 0;
  margin: 0;
  box-sizing: border-box;

  @include respond (tab-port){
padding: 0;  }
}

